@using Recaptcha.Web.Mvc
@model Calorie.Models.ExternalLoginConfirmationViewModel



<div class="panel">
    <div class="panel-body ">
        <h4>You'll need to tell us your email address because we couldn't get it from your social media account</h4>
        <br />

      @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
            @Html.AntiForgeryToken()

            <h5>@Html.ValidationSummary("", new { @class = "text-danger" })</h5>
            
            <div class="form-group">                
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <h6 class="InputLabel">Email</h6>
                    @Html.TextBoxFor(m => Model.Email, new { @class = "form-control" })
                </div>
            </div>
          
            <br />

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="pull-right">
                        @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
                        <br />
                        <input type="submit" class="btn btn-warning pull-right" value="Complete Registration" />
                    </div>

                </div>
            </div>
        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
