
@using Calorie.Models
@model LoginViewModel

@section localcss
{
   <link rel="stylesheet" type="text/css" href="~/CSS/Account/Login.css">
}


<div class="panel">
    <div class="panel-body">
        <h4><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Log In</h4>
        <br/>


        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form", @id = "loginform", @style = "margin-bottom:-15px"}))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">

                <h5 class="header" ><i>@Html.ValidationSummary(true, "", new {@class = "text-danger"})</i></h5>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <h6 class="InputLabel">Username</h6>
                        <input class="form-control input-sm text-box single-line input-validation-error user-success" data-val="true" data-val-required="Username Or Email Address is required." id="UsernameOrEmail" name="UsernameOrEmail" type="text" value="">
                        <h6 class="header"><i>@Html.ValidationMessageFor(model => model.UsernameOrEmail, "", new {@class = "text-danger"})</i></h6>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                        <h6 class="InputLabel">Password</h6>
                        <input class="form-control input-sm text-box single-line password input-validation-error user-success" data-val="true" data-val-required="Password is required." id="Password" name="Password" type="password" value="">
                        <h6 class="header-no-margin" ><i>@Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})</i></h6>

                        <h6 class="header"><i>@Html.ActionLink("Forgotten password?", "ForgotPassword", "Account")</i></h6>

                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 col-sm-offset-3 col-lg-offset-4">
                        <div class="row">
                            <div class="col-xs-12 rememberMeDiv">
                                <h6 class="InputLabel ">Remember Me</h6>
                            </div>
                            <div class="col-xs-3 ">
                                @Html.CheckBoxFor(m => m.RememberMe, new
                                {
                                    @class = "form-control input-sm pull-right"
                                })
                                @Html.Partial("..\\Shared\\_Checkbox", "RememberMe")
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <br/>
            <div class="form-group">


                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 col-sm-offset-3 col-lg-offset-4 ">

                        <button type="submit" value="Log in" class="btn btn-default full-width login-form-button">
                            <span class="pull-left">
                                <i class="fa fa-sign-in vertical-align-fa-icon" aria-hidden="true"></i>
                            </span>
                            Log in
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 col-sm-offset-3 col-lg-offset-4 ">
                        <a  href="@Url.Action("Register", "Account")" class="btn btn-default no-shadow full-width login-form-button register-link">
                            <i class="pull-left fa fa-user-plus vertical-align-fa-icon"></i>&nbsp;Sign up with email
                        </a>
                    </div>
                </div>


            </div>

        }

        @using (Html.BeginForm("ExternalLogin", "Account", new {ReturnUrl = ViewBag.ReturnUrl}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 col-sm-offset-3 col-lg-offset-4 ">

                        <button class="btn facebook-colour login-form-button  full-width" id="Facebook" name="provider" value="Facebook">
                            <i class="pull-left fa fa-facebook vertical-align-fa-icon"></i>&nbsp;&nbsp;Facebook Login / Sign up
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 col-sm-offset-3 col-lg-offset-4 ">
                        <button class="btn login-form-button linkedin-colour  full-width" id="LinkedIn" name="provider" value="LinkedIn">
                            <i class="pull-left fa fa-linkedin vertical-align-fa-icon"></i>&nbsp;&nbsp;LinkedIn Login / Sign up
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 col-sm-offset-3 col-lg-offset-4 ">
                        <button class="btn  btn-default login-form-button full-width" id="Google" name="provider" value="Google">
                            <img class="pull-left googleLoginImg" src="~/Images/ThirdPartyLogos/google.png" />&nbsp;&nbsp;Google Login / Sign up
                        </button>
                    </div>
                </div>








            </div>

        }


    </div>

</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

