@model Calorie.Models.Misc.DonutChartVM

@{
    var thisID = Guid.NewGuid().ToString().Replace("-", "");


    //if (Model.Size == 0) {
    //    Model.Size = 200;
    //}

}

<div id="@thisID" class="chart-@thisID ct-chart ct-golden-section "></div>
     
<script>
    new calorie.charts.donutChart('@thisID',
                                    @Model.Data.IsCurrency.ToString().ToLower(),
                                    @Html.Raw(@Model.Data.getSeries(true)),
                                    @Html.Raw(@Model.Data.getLabels(true)),
                                    @Model.Data.getTotal(true)                                 
                                    , @Model.Animate.ToString().ToLower()
                                    , @Model.centerLabel.ToString().ToLower()
                                        @if (!string.IsNullOrEmpty(@Model.Data.getLegend(true))){
                                            @Html.Raw("," + Model.Data.getLegend(true) + Environment.NewLine)
                                            }
                                    );
    

</script>



