@model Calorie.Models.Pledges.PledgeContributors

@section localcss{
    <link rel="stylesheet" href="~/CSS/PledgeContributors/Create.css">
}


<div class="panel addCoSponsorship">
        <div class="panel-body ">
            <div class="row">
                <div class="col-xs-12">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Co-Sponsorship
                    <br/>
                    <br />
                </div>
                <div class="col-xs-12">
                    @Html.Partial("..\\Pledges\\_PledgePartial2", Model.Pledge)                
                </div>
            </div>
            

            @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "CoSponsorForm"}))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    
                    <div class="form-group ">
                        <div class="col-xs-12">

                            <h6><i>Amount you are pledging&nbsp;&nbsp;<span  data-help-button-id="PledgeAmountHelp" class="glyphicon glyphicon-question-sign"></span></i></h6>
                            @Html.Partial("..\\Shared\\_HelpAlert", new Calorie.Models.Misc.HelpAlert() {ID = "PledgeAmountHelp", Message = "If the currency is incorrect, please go to your account settings to change it."})
                            <div class="form-group has-feedback amount-group" >
                                <input class="form-control text-box single-line input-validation-error user-success"
                                       data-val="true"
                                       data-val-number="The amount must be a number."
                                       data-val-range="The amount must be between 1 and 9999"
                                       data-val-range-max="9999"
                                       data-val-range-min="1"
                                       data-val-required="The amount is required."
                                       id="Amount"
                                       name="Amount"
                                       type="text"
                                       value="0.00"/>
                                <span  class="form-control-feedback currency-ident"><b>@Calorie.BusinessLogic.CurrencyLogic.GetCurrencyPrefix(Model.Currency)</b></span>
                            </div>

                            <h6><i>@Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})</i></h6>
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.Currency, htmlAttributes: new {@class = "form-control"})
                    @Html.HiddenFor(model => model.IsOriginator)
                    @Html.HiddenFor(model => model.Pledge)
                    @Html.HiddenFor(model => model.PledgeID)

                    <h6><i>Tell us something about why you're making this co-sponsorship.</i></h6>
                    <div id="StoryTextEditor"></div>
                    @Html.ValidationMessageFor(model => model.Comment, "", new {@class = "text-danger"})
                    @Html.HiddenFor(model => model.Comment)


                    <script>
                        new calorie.textEditor('StoryTextEditor', 'Comment', 'CoSponsorForm');                    
                    </script>


                    <div class="form-group">
                        <div class="col-xs-12">
                            <h6><i>Amount is anonymous&nbsp;&nbsp;<span data-help-button-id="CoSponsorsHelp3" class="glyphicon glyphicon-question-sign"></span></i></h6>
                            @Html.Partial("..\\Shared\\_HelpAlert", new Calorie.Models.Misc.HelpAlert() {ID = "CoSponsorsHelp3", Message = "on the pledge page, your pledged amount will be hidden."})
                        </div>
                        <div class="col-xs-1">
                            @Html.CheckBoxFor(m => m.AmountAnonymous, new {@class = "form-control small calorie-checkbox"})
                            @Html.Partial("..\\Shared\\_Checkbox", "AmountAnonymous")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <h6><i>Identity is anonymous&nbsp;&nbsp;<span  data-help-button-id="CoSponsorsHelp2" class="glyphicon glyphicon-question-sign"></span></i></h6>
                            @Html.Partial("..\\Shared\\_HelpAlert", new Calorie.Models.Misc.HelpAlert() {ID = "CoSponsorsHelp2", Message = "on the pledge page, your identity will be hidden for your sponsorship details."})
                        </div>
                        <div class="col-xs-1">
                            @Html.CheckBoxFor(m => m.UserAnonymous, new {@class = "form-control small calorie-checkbox"})
                            @Html.Partial("..\\Shared\\_Checkbox", "UserAnonymous")
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="submit" value="Add Co-sponsorship" class="btn btn-default pull-right"/>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
