@model Calorie.Models.Pledges.PledgesIndexVM

@section localcss
{
    <link rel="stylesheet" type="text/css" href="~/CSS/Pledges/_SearchPartial.css">
}

@Html.Partial("..\\Pledges\\Index\\_SearchPartial", @Model)

<br />

<div id="activitiesList"></div>

@if (Model.User != null)
{


    <!--My Pledges & Sponsorships HEADER-->
    <div class="calorie-grey pledge-bar">
        <div class="row">
            <div class="col-xs-4">
                <h5><i class="fa fa-user" aria-hidden="true"></i>&nbsp;My Pledges & Sponsorships</h5>
            </div>
            <div class="col-xs-8">

                <div class="btn-group pull-right">
                    <button id="myPledgesMoreBtn" onclick="myPledgesBtnClick(event)" class="btn btn-sm btn-default pull-right"><span class="glyphicon glyphicon-chevron-down"></span></button>
                    <button id="myPledgesLessBtn" onclick="myPledgesBtnClick(event)" style="display: none;" class="btn btn-sm btn-default pull-right"><span class="glyphicon glyphicon-chevron-up"></span></button>
                    <a href="@Url.Action("Create")" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;New Pledge&nbsp;
                    </a>
                </div>
            </div>

        </div>

        <div id="myPledgesBody" style="display: none">
            <br/>
            @{var List = Model.User.Contributions.GroupBy(c => c.Pledge).Select(g => g.First().Pledge).ToList(); }

            @if (!List.Any())
            {
                <h6><i>Nothing here..</i></h6>
            }
            else
            {

                @Html.Partial("..\\Pledges\\_PledgePartialList", new Calorie.Models.Pledges.PledgePartialListVM() {Pledges = List, Animate = false})

            }
        </div>

    </div>
    
    <br/>

    <!--My Bookmarks HEADER-->
    <div class="calorie-grey pledge-bar">
        <div class="row">
            <div class="col-xs-4">
                <h5><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;My Bookmarks</h5>
            </div>

            <div class="col-xs-8">

                <button id="myBookmarkMoreBtn" onclick="myBookmarkBtnClick(event)" class="btn btn-sm btn-default pull-right"><span class="glyphicon glyphicon-chevron-down"></span></button>
                <button id="myBookmarkLessBtn" onclick="myBookmarkBtnClick(event)" style="display: none;" class="btn btn-sm btn-default pull-right"><span class="glyphicon glyphicon-chevron-up"></span></button>


                @if (Model.User.Bookmarks.Any())
                {

                    <a @*href="@Url.Action("Create")"*@ class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Clear All
                    </a>

                }

            </div>
        </div>

        <div id="myBookmarkBody" style="display: none">

            <br/>

            @{var Bookmarked = Model.User.Bookmarks.GroupBy(b => b.Pledge).Select(g => g.First().Pledge).ToList(); }

            @if (!Bookmarked.Any())
            {
                <h6><i>Nothing here..</i></h6>
            }
            else
            {
                @Html.Partial("..\\Pledges\\_PledgePartialList", new Calorie.Models.Pledges.PledgePartialListVM() {Pledges = Bookmarked, Animate = false})
            }

        </div>
    </div>
   
}
else //not logged in
{
    <h6><i>log in or create an account to get started...</i></h6>
}

<br />


<!--FILTER -->
<div class="calorie-grey pledge-bar">
    <div class="row">
        <div class="col-xs-12">
            @{
                var FilterVM = new Calorie.Models.Misc.FilterVM
                {
                    Callback = "window.doFilter(a, b)",
                    Options = new List<string>() {"New", "Trending", "Almost Completed", "Almost Expired"}
                };

            }
            @Html.Partial("..\\Shared\\_FilterPartial", FilterVM)
        </div>
        <br/>
        <br/>
        <div class="col-xs-12" id="pledgeFilterResults">
            @Html.Partial("..\\Pledges\\_PledgePartialList", new Calorie.Models.Pledges.PledgePartialListVM() {Pledges = @Model.NewPledges, Animate = true})
        </div>
    </div>
</div>



<script>
    filterURL = '@Url.Action("Filter", "Pledges")';
</script>
<script src="~/Scripts/Calorie/Pledges/Index.js"></script>

