@model Calorie.Models.Offset 

@{

    var Tracker = Model.Offsetter.Trackers.FirstOrDefault(t => t.Type ==Calorie.Models.Trackers.Tracker.TrackerType.Fitbit);
 

    var UsedIdents = Model.Offsetter.Offsetters.Select(o => o.ThirdPartyIdentifier);
    var AllowedActivities = Model.Pledge.Activity_Types.Select(t => t.Activity);


}

@if (Tracker!=null)
{


    <script>
        
       

        var fitbitUsedIdents = [];
        @{
            foreach (var usedIdent in UsedIdents)
            {
                @:fitbitUsedIdents.push('@usedIdent');
            }
        }
        var fitbitAllowedActivities = [];
        @{
            foreach (var AllowedActivity in AllowedActivities)
            {
                @:fitbitAllowedActivities.push('@AllowedActivity.ToString().Replace("_", " ")');
            }
        }

        function fitBitClearDown() {
            $("#Fitbit-Usable-tab").empty();
            $("#Fitbit-Unavailable-tab").empty();
            $("#Fitbit-Used-tab").empty();
            $("#Fitbit-Usable-tab-badge").empty();
            $("#Fitbit-Unavailable-tab-badge").empty();
            $("#Fitbit-Used-tab-badge").empty();
                
        }


        $(function() {
                
          

            $('#FitbitDatePicker').val(new Date().toJSON().slice(0, 10));

            $('#FitbitSelector').on('shown.bs.modal', function() {
                fitBitClearDown();
            });


        });
        
        
        function fitbitActivityClick(event) {
            
            var btnClicked = $(event.currentTarget);

            var thisBlob = btnClicked.data("jsonblob");
            var thisIdent = btnClicked.data("activityIdent");
            var meters = btnClicked.data("meters");
            var secconds = btnClicked.data("secconds");
            var calories = btnClicked.data("calories");
            var parent = btnClicked.parents(".FitbitAcitivitySummary");

            AddOffset(parent, thisBlob, thisIdent, meters, secconds, calories, "runKeeperActivity");

        };

        function fitbitLoad(event) {

            var btn = $('#fitbitLoadBtn');
            var dt = $('#FitbitDatePicker').val();

            var btnDisabler = new calorie.helpers.buttonDisabler();
            btnDisabler.button = btn;
            btnDisabler.disable();

           

            $.get('@Url.Action("FitBitGetDataForDate", "Trackers")',
                { pledgeID: @Model.Pledge.PledgeID, inputDate: dt },
                function(response) {


                    fitBitClearDown();

                    var results = $(response);

                    var availableResults = results.children("#Available");
                    var unavailableResults = results.children("#Unavailable");
                    var usedResults = results.children("#Used");

                    $("#Fitbit-Usable-tab").append(availableResults);
                    $("#Fitbit-Unavailable-tab").append(unavailableResults);
                    $("#Fitbit-Used-tab").append(usedResults);

                    $("#Fitbit-Usable-tab-badge").html(availableResults.data("count")).fadeIn();
                    $("#Fitbit-Unavailable-tab-badge").html(unavailableResults.data("count")).fadeIn();
                    $("#Fitbit-Used-tab-badge").html(usedResults.data("count")).fadeIn();

                    btnDisabler.enable();

                }
            ).fail(function(er) {
                $('#Fitbit-AlertFeedback').fadeIn();
                btnDisabler.enable();
            });

         


            @*$.ajax({
                type: "GET",
                url: '@Url.Action("FitBitGetDataForDate", "Trackers")',
                data: JSON.stringify({pledgeID: 123, inputDate: '1 January 2010'}),//"pledgeID=" + pledgeID,  //FitBitGetDataForDate(string pledgeID, string inputDate)
                dataType: 'html',
                contentType: false,
                processData: false,
                cache: false,
                success: function (response) {

                    var useable = $("#Usable-tab");
                    var unusable = $("#Unavailable-tab");
                    var used = $("#Used-tab");


                    useable.empty();
                    unusable.empty();
                    used.empty();

                    var results = $(response);

                    var availableResults = results.children("#Available");
                    var unavailableResults = results.children("#Unavailable");
                    var usedResults = results.children("#Used");

                    useable.append(availableResults);
                    unusable.append(unavailableResults);
                    used.append(usedResults);

                    $("#Usable-tab-badge").html(availableResults.data("count")).fadeIn();
                    $("#Unavailable-tab-badge").html(unavailableResults.data("count")).fadeIn();
                    $("#Used-tab-badge").html(usedResults.data("count")).fadeIn();

                    $('#RunKeeperHeader').children('.spinner').remove();
                },

                error: function (err) {
                    alert(err);

                }

            });*@

            //calorie.fitbit.getAccessCode(function(code) {

            //    var inputDate = $('#FitbitDatePicker').val();
            //    var userID = $('#FitbitSelector').data('userid');

            //    var thisdata = {
            //        Headers: [
            //            { Key: "Authorization", Value: "Bearer " + code }
            //        ],
            //        URL: "https://api.fitbit.com/1/user/" + userID + "/activities/date/" + inputDate + ".json"

            //    };

            //    calorie.useProxy(thisdata, function(result) {

            //        var source = $("#FitbitActivitySummary-template").html();
            //        var template = Handlebars.compile(source);

            //        var previouslyUsedCount = 0;
            //        var usableCount = 0;
            //        var unusableCount = 0;

            //        result.activities.forEach(function(itm) {


            //            calorie.fitbit.addPropsToResponse(itm);

            //            var summarySource = $("#FitbitActivitySummary-template").html();
            //            var summaryTemplate = Handlebars.compile(summarySource);

            //            if (fitbitUsedIdents.indexOf(itm.uri) > -1) {
            //                $("#FitbitPreviouslyUsed").append(summaryTemplate(itm));
            //                previouslyUsedCount += 1;
            //            } else {

            //                if (fitbitAllowedActivities.indexOf(itm.type) == -1 && fitbitAllowedActivities.length > 0) {
            //                    $("#FitbitUnUsable").append(summaryTemplate(itm));
            //                    unusableCount += 1;
            //                } else {
            //                    $("#FitbitUsable").append(summaryTemplate(itm));
            //                    usableCount += 1;
            //                }

            //            }

            //        })

            //        btnDisabler.enable();

            //        $("#FitbitPreviouslyUsedBadge").empty().append(previouslyUsedCount)
            //        $("#FitbitUnUsableBadge").empty().append(unusableCount)
            //        $("#FitbitUsableBadge").empty().append(usableCount)

            //    }, function(error) {

            //        alert(error);

            //    })


            //}, function(err) {
            //    alert("error: " + err);
            //})


        }


    </script>
    <style>

        </style>



        <div id="FitbitSelector" class="modal fade" data-userid="@Tracker.ThirdPartyUserID">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">

                            <div class="col-xs-10">
                                <text id="FitbitHeader" style="font-size: x-large"><span style="top:5px" class="glyphicon glyphicon-heart"></span>&nbsp;Activities&nbsp;</text>
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>                           
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <text style="font-size: x-small;"><i>*Powered By </i></text>
                                <img style="max-width: 100px; max-height: 50px;" src="~/Images/ThirdPartyLogos/fitbit.svg"/>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-sm-offset-9">
                                <br/>
                                <div class="input-group pull-sm-right pull-md-right pull-lg-right " >
                                    <input aria-describedby="fitbitLoadBtn" type="date" class="form-control input-sm" id="FitbitDatePicker">

                                    <span class="input-group-btn">
                                        <button id="fitbitLoadBtn" class="btn btn-default btn-sm" onclick="fitbitLoad(event)" style="height: 30px">
                                            <span class="glyphicon glyphicon-arrow-right"></span>
                                        </button>
                                    </span>

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="modal-body">
                        <div id="Fitbit-AlertFeedback" style="display: none" class='alert alert-danger alert-dismissible fade in' role='alert'>
                            <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                            <text>Something went wrong trying to get data from Fitbit. try again later.</text>
                        </div>

                        <ul class="nav nav-tabs ">

                            <li class="active"><a data-toggle="tab" href="#Usable-tab"><span class="glyphicon glyphicon-ok"></span>&nbsp;Usable&nbsp;<span class="badge" id="Fitbit-Usable-tab-badge" style="display: none"></span></a></li>
                            <li class=""><a data-toggle="tab" href="#Unavailable-tab"><span class="glyphicon glyphicon-remove"></span>&nbsp;Unusable&nbsp;<span class="badge" id="Fitbit-Unavailable-tab-badge" style="display: none"></span></a></li>
                            <li class=""><a data-toggle="tab" href="#Used-tab"><span class="glyphicon glyphicon-remove"></span>&nbsp;Previously Used&nbsp;<span class="badge" id="Fitbit-Used-tab-badge" style="display: none"></span></a></li>

                        </ul>

                        <br/>
                        <div class="tab-content">

                            <div id="Fitbit-Usable-tab" class="tab-pane fade in active">


                            </div>

                            <div id="Fitbit-Unavailable-tab" class="tab-pane fade in ">




                            </div>

                            <div id="Fitbit-Used-tab" class="tab-pane fade in ">



                            </div>

                        </div>


                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->







@*<div id="FitbitSelector" class="modal fade" data-userid="@Tracker.ThirdPartyUserID">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header" >
            
                <div class="row">
                    <div class="col-xs-10 col-sm-11">

                        <div class="row">
                            <div class="col-xs-12 col-sm-4 ">
                                
                                <h4><b>Fitbit Activities</b></h4>

                            </div>

                            <div class="col-xs-5 col-sm-8 "  >

                                <div class="input-group pull-sm-right pull-md-right pull-lg-right " style="width:175px" >
                                    <input  aria-describedby="fitbitLoadBtn" type="date" class="form-control input-sm" id="FitbitDatePicker">

                                    <span class="input-group-btn">
                                        <button id="fitbitLoadBtn" class="btn btn-default btn-sm" onclick="fitbitLoad(event)" style="height:30px">
                                            <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                        </button>
                                    </span>

                                </div>


                            </div>


                        </div>

                    </div>
                    <div class="col-xs-2 col-sm-1 ">
                        <button class="btn btn-default btn-sm pull-right" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                 
                </div>
             
            </div>
                        
                
            <div class="modal-body">
                               
     
                <div class="panel ">
                    <div class="panel-heading">
                        <text style="font-size:large">Usable&nbsp;<span class="badge" id="FitbitUsableBadge"></span></text>
                        <br /><text style="font-size:x-small">These activities from Fitbit match the allowed activities for this pledge</text>
                    </div>
                    <div class="panel-body " id="FitbitUsable">

                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <text style="font-size:large">Unusable&nbsp;<span class="badge" id="FitbitUnUsableBadge"></span></text>
                        <br /><text style="font-size:x-small">These activities from Fitbit do not match the allowed activities for this pledge</text>
                    </div>
                    <div class="panel-body " id="FitbitUnUsable">

                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <text style="font-size:large">Previously Used&nbsp;<span class="badge" id="FitbitPreviouslyUsedBadge"></span></text>
                        <br /><text style="font-size:x-small">These activities from Fitbit have already been used against a pledge</text>
                    </div>
                    <div class="panel-body " id="FitbitPreviouslyUsed">

                    </div>
                </div>


                </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->*@
        

@Html.Partial("..\\Offsets\\Fitbit\\Templates\\_FitbitActivityTemplate")

}
            
