@model Calorie.Models.Companys.CompanyPartialVM
 @{
     var SponsoredBaseAmt = Calorie.BusinessLogic.CurrencyLogic.ToBase(@Model.Company.Contributions);

     var width = Model.ShowFullDetails ? "col-xs-12 col-md-6 col-lg-8" : "col-xs-12";
 }

<div class="panel corporate-partial">
    <div class="panel-body">


        <div class="row">

            @*Name*@
            <div class="col-xs-12">
                <a href="@Url.Action("Details", "Company", new {companyname = Model.Company.UserName.Replace(" ", "")})">
                    <h2 >
                        <b>@Model.Company.UserName</b>&nbsp;
                        <span class="pull-right" >
                            @Html.Raw(Calorie.BusinessLogic.UserLogic.getStarsHTMLForUser(Model.Company))
                        </span>
                    </h2>
                </a>
                <br/>
            </div>

            @*IMAGE and description*@
            <div class="@width">
                <div class="row">
                    <a href="@Url.Action("Details", "Company", new {companyname = Model.Company.UserName.Replace(" ", "")})">

                        @{
                            var URL = Url.Action("GetImage", "Image");
                            var src = URL + "?ImageID=" + @Model.Company.ProfilePictureID + "&Thumb=true";
                        }
                        <img class="col-xs-6 corporate-picture"  src=@src/>

                    </a>
                    <div class="corporate-details">

                        @if (!string.IsNullOrEmpty(Model.Company.CompanyURL))
                        {
                            <a href="@Model.Company.CompanyURL">@Model.Company.CompanyURL</a><br/>
                        }
                        <a href="@Url.Action("Details", "Company", new {companyname = Model.Company.UserName.Replace(" ", "")})">

                            <p>@Html.Raw(Model.Company.CompanyDescription)</p>
                        </a>

                    </div>


                </div>


            </div>
            @if (Model.ShowFullDetails)
            {

                <div class="col-xs-12 col-md-6 col-lg-4">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="panel dashed">
                                <div class="panel-body">
                                    <h5><i class="fa fa-money"></i>&nbsp;Sponsored</h5>
                                    <h2><span data-currencycode="GBP" data-currencyamount="@SponsoredBaseAmt"></span></h2>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12">
                            <div class="panel dashed">
                                <div class="panel-body">
                                    <h5>Charities</h5>

                                    @if (!Model.Company.PreferredCharities.Any())
                                    {
                                        <h6><i class="fa fa-frown-o" aria-hidden="true"></i>&nbsp;None</h6>
                                    }
                                    else
                                    {
                                        <table class="table table-striped">                                           
                                                @foreach (var PrefCharity in Model.Company.PreferredCharities)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.Partial("..\\Charities\\_CharityPartialSmall", new Calorie.Models.Charities.CharityVM() {Charity = PrefCharity.Charity, ShowSelector = false})
                                                        </td>
                                                    </tr>

                                                }                                          
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            }

        </div>

        <br/>

    </div>

</div>

